extends global_layout.pug

append head
    meta(name="description",content=ctx.config.description || ctx.config.note + "\n Page "+page.current)
    title= ctx.config.title

block content
    ul.index-ul
        each post in Object.values(site.sources).slice(page.current*30,page.current*30+30)
            li
                +post-card(post)
    s-divider
    +page-navigator(page.total,page.current,'page')
