extends global_layout.pug

append head
    title= __('Tags')

block content
    h2.archive-label.new!= __('Tags')
    ul.index-ul.tags.new
        each tag in site.tags
            li
                a.--smooth(href=url_for('/tags/'+tag.key+'/0/'))= tag.key