@use "_declaration.scss" as *;

:root {
    --color-selection-bar: linear-gradient(to right, oklch(.7 .1 0), oklch(.7 .1 30), oklch(.7 .1 60), oklch(.7 .1 90), oklch(.7 .1 120), oklch(.7 .1 150), oklch(.7 .1 180), oklch(.7 .1 210), oklch(.7 .1 240), oklch(.7 .1 270), oklch(.7 .1 300), oklch(.7 .1 330), oklch(.7 .1 360));
}

#leftCol,#rightCol,#centerCol {
    display: flex;
    gap: $card-gap;
    flex-direction: column;
    flex-wrap: nowrap;
}

#leftColWrapper>#rightCol {
    margin-top: $card-gap;
}

#globalMain {
    display: grid;
    max-width: 1536px;
    box-sizing: border-box;
    margin: 0 auto 1rem;
    grid-template-columns: 18% calc(64% - 2*$card-gap) 18%;
    grid-template-rows: 1fr;
    gap: $card-gap;
    padding: $card-gap;
}

#leftColWrapper,#rightCol {
    position: sticky;
    top: $card-gap;
    height: fit-content;
}

#globalMain>#leftColWrapper {
    grid-column-start: 1;
    grid-column-end: 2;
}

#globalMain>#rightCol {
    grid-column-start: 3;
    grid-column-end: 4;
}

#globalMain>#centerCol {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

@media(max-width: 1024px) {
    #globalMain {
        display: flex;
    }

    #leftColWrapper {
        min-width: 27%;
        max-width: 27%;
    }

    #centerCol {
        width: calc(73% - 1rem);
    }

    #globalMain>#rightCol {
        display: none;
    }
}

@media(max-width: 768px) {
    #globalMain {
        flex-direction: column;
    }
    #centerCol {
        order: 1;
        width: 100%;
    }
    #leftColWrapper {
        position: relative;
        order: 2;
        width: 100%;
        max-width: 100%;
        min-width: unset;
    }
}

.post-card {
    padding: $card-padding;
    border-radius: $card-corner;
    box-shadow: $card-shadow;
    background: var(--surface);
    color: var(--onSurface);
    box-sizing: border-box;
}

.iconBlock {
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: $card-corner-50;
    background-color: var(--secondaryContainer);
    color: var(--onSecondaryContainer);

    &>svg {
        width: 1.25rem;
        height: 1.25rem;
    }

    &.plain {
        background-color: var(--surfaceVariant);
        color: var(--onSurfaceVariant);
    }
}

#markdown_fillContent {
    line-height: 1.75rem;
}

#globalFooter {
    position: relative;
    max-width: var(--Wpage-width);
    margin: 4rem auto 2rem;

    &>.kLinks {
        display: flex;
        flex-wrap: wrap;

        &>nav {
            flex: 1 0 0%;
            padding: .5rem;

            &>* {
                display: block;
                text-wrap: nowrap;
            }
        }
    }

    &>.copyright {
        text-align: center;
    }

    &::before {
        content: '';
        // border-top: 1px dashed #ffffff26;
        top: -32px;
        width: 70%;
        left: 15%;
        position: absolute;
    }
}

.page-navigator {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .75rem;
    box-sizing: border-box;
    padding: 1rem;
    overflow: hidden;
    border-radius: $card-corner-circle;
    background-color: var(--primaryContainer);
    body:has(.imageBackground) & {
        box-shadow: 0 0 2.5rem -1rem var(--outline);
    }

    &>a {
        text-decoration: none;
        display: flex;
        height: 3rem;
        width: 3rem;
        align-items: center;
        justify-content: center;
        border-radius: 100vmax;
        background-color: var(--primaryContainer);
        color: var(--onPrimaryContainer);
        cursor: pointer;
        font-weight: 900;
        font-size: 1.1rem;
        line-height: 3rem;
        transition: $ts-bg-c;

        &.prev {
            transform: rotate(180deg);
        }

        &:is(.prev, .next)>svg {
            font-size: 2rem;
        }

        &.now {
            background-color: var(--secondary);
            color: var(--onSecondary);
        }

        &:not([href]):not(.now) {
            color: var(--onSurfaceVariant);
            background-color: var(--surfaceVariant);
        }

        &[href]:not(.now):hover {
            background-color: var(--primary);
            color: var(--onPrimary);
        }
    }
}

.license {
    background: var(--surfaceVariant);
    border-radius: 1rem;
    width: 100%;
    padding: 1.5rem;
    margin: 1rem 0 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-height: 10rem;
    overflow: hidden;

    & a {
        color: var(--onSurfaceVariant);
        text-decoration: none;

        &:hover {
            color: var(--primary);
        }
    }

    &>.title {
        font-weight: 900;
        font-size: 1.5rem;
        margin-bottom: auto;
        z-index: 1;

    }

    &>.announce-box {
        display: flex;
        gap: 1.5rem;
        z-index: 1;

        &>*>.label {
            font-size: .875rem;
            color: var(--Ctext-25);
            display: block;
        }

        &>*>.val {
            font-size: 1.25rem;
            display: block;
            line-height: 1.625rem;
        }
    }

    .background {
        position: absolute;
        top: -25%;
        bottom: -25%;
        right: 0;

        &>svg {
            height: 100%;
            width: 100%;
            color: var(--surface);
        }
    }
}

@media(max-width:768px) {
    .license>.background {
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
    }

    .license>.announce-box {
        flex-direction: column;
    }
}

img.imageBackground {
    display: block;
    position: fixed;
    z-index: -100;
    left: 0;
    right: 0;
    top: 0;
}