@use "./_declaration.scss" as *;

/* Archive */

.archive-label {
    margin-left: 2rem;
    display: flex;
    align-items: center;

    &>.year {
        font-size: 1.5rem;
        line-height: 1.75rem;
        width: 4rem;
        height: 2rem;
        padding-bottom: .25rem;
        text-align: right;
        box-sizing: border-box;
    }

    &>.count {
        font-size: 1rem;
        color: var(--s-color-outline);
    }
}

code {
    padding: .25rem;
}

pre code,
pre code.hljs {
    display: block;
    padding: .5rem;
    position: relative;
    font-size: 1rem;
    line-height: 1.5;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: auto;
}

blockquote {
    margin: .25rem;
    border-radius: 4px;
    padding: .25rem .75rem;
    width: fit-content;
}

#footnote-label.sr-only {
    color: #0000;
    font-size: 0;
    height: .5rem;
    border-radius: 1rem;
    width: 75%;
    left: 12.5%;
    position: relative;
    margin: 1.25rem 0;
}

.next-page {
    display: flex;
    justify-content: space-between;
    gap: $card-gap;

    & s-button.left>s-icon svg {
        transform: rotate(180deg)
    }
}

.proseopt code {
    background-color: var(--s-color-surface-container);
    color: var(--s-color-on-surface-variant);
    border-radius: 4px;
    font-family: 'Hack', monospace, 'Consolas';
}

.proseopt a {
    color: var(--s-color-primary);
    text-decoration: none;
}

.proseopt p>img {
    max-width: 100%;
}

.proseopt table {
    border: 1px solid var(--s-color-surface-variant);
    border-collapse: collapse;
    width: 100%;

    & td,
    th {
        border: 1px solid var(--s-color-surface-variant);
        padding: 8px;
        text-align: center;
    }
}