@use "./_declaration.scss" as *;

:root {
    color-scheme: light dark;
    --hue: var(--config-hue, 250);
    --Wpage-width: calc(min(100%, 1536px) - 2rem);
    --Wcon: var(--Wpage-width);

    --font-family: 'Google Sans Text', Roboto, sans-serif, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    --font-family-mono: 'Google Sans Mono', 'Hack', monospace, 'monospace';

    @each $percent, $value in (100, $card-corner-100), (75, $card-corner-75), (50, $card-corner-50), (25, $card-corner-25) {
        --card-corner-#{$percent}: #{$value};
    }

    --card-bg: white;
    --card-gap: #{$card-gap};
    --card-corner: #{$card-corner};
    --card-corner-circle: #{$card-corner-circle};
    --card-shadow: #{$card-shadow};
    --card-padding: #{$card-padding};
}

:root {
    --Cbrand: var(--source);
    --Cdisplay: #000000bf;
    --Cbg: var(--background);
    --Ccard-bg: var(--surface);
    --Ccard-bg-hover: var(--surface);
    --Cbtn-plain-bg-hover: var(--surface);
    --Cbtn-content: var(--onSurface);
    --Cbtn-regular-bg: var(--surfaceVariant);
    --Cbtn-regular-bg-hover: var(--surfaceVariant);
    --Ctext-25: var(--onSurface);
    --Ctext-50: var(--onSurface);
    --Ctext-75: var(--onSurface);
    --Ctext-100: var(--onSurface);
}

@media(max-width:768px) {
    :root {
        --Wpage-width: 100vw;
    }
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: var(--Cbg);
    color: var(--Cdisplay);
    margin: 0;
    position: relative;
    font-family: var(--font-family);
}

body.loaded::before {
    opacity: 1;
    transform: none;
    top: 0;
}

html::-webkit-scrollbar {
    display: none
}

html {
    scrollbar-width: none
}

body {
    color-scheme: light dark;
    background-color: var(--background);
    color: var(--onBackground);
    margin: 0;
    padding: 0;
}

* {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.loading-circle {
    $r: 5rem;
    position: fixed;
    width: calc($r * 2);
    height: calc($r * 2);
    left: calc(50% - $r);
    top: calc(50% - $r);
    background-color: var(--card-bg);
    border-radius: 100vmax;
    z-index: 2000;
    box-shadow: 0px 0px 5rem var(--Cbrand);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s ease-in-out;
    transition-delay: .125s;
}

body:not(.dom-loaded) .loading-circle {
    animation: loading-circle-start .25s ease-in-out 1;
}

:is(body.being-replaced) .loading-circle {
    opacity: 1;
}

.loading-circle::before {
    $r: 5rem;
    content: '';
    display: block;
    width: calc($r / 1.15);
    height: calc($r / 1.15);
    border: 1rem solid var(--Cbtn-regular-bg);
    border-top: 1rem solid var(--Cbtn-content);
    border-radius: 100vmax;
    animation: loading-circle-spin 2.5s linear infinite;
}

@keyframes loading-circle-start {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading-circle-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

svg path,
symbol path {
    fill: currentColor;
}

#globalHeader {
    --Height: #{$navbar-height};
    min-height: var(--Height);
    position: sticky;
    top: 0px;
    z-index: 1100;
    box-sizing: border-box;
    width: var(--Wpage-width);
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 0 1rem;
    border-radius: 0 0 $card-corner $card-corner;
    box-shadow: $card-shadow;
    background-color: var(--Ccard-bg);
    transition-property: width, height, top, color, background-color;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);

    &::before {
        content: '';
        position: absolute;
        width: 100vw;
        height: $navbar-height;
        left: calc(var(--Wpage-width) / 2 - 50vw + 1rem);
        top: 0;
        background-color: var(--primaryContainer);
    }

    & a {
        text-decoration: none;
    }

    & svg {
        display: block;
    }

    body.focus & {
        top: calc(-.5rem - $navbar-height);
    }

    &>.kLogo,
    &>.links a {
        width: fit-content;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        font-weight: 700;
        color: var(--Cbrand);
        position: relative;
        height: 2.75rem;
        transition: color .125s ease-in-out;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            background-color: var(--Cbtn-plain-bg-hover);
            transform: scale(0);
            opacity: 0;
            transition: transform .125s ease-in-out, opacity .125s ease-in-out;
            z-index: -1;
            border-radius: $card-corner-50;
        }

        &:hover::before {
            transform: scale(1);
            opacity: 1;
        }
    }

    &>.kLogo {
        &>.home-icon {
            font-size: 1.75rem;
            margin-right: .5rem;
            padding-bottom: .25rem;

            &>svg {
                display: block;
            }
        }
    }

    &>.links {
        gap: .25rem;
        display: flex;

        & a {
            color: var(--onPrimaryContainer);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            min-width: 6rem;
            padding: .25rem;
            height: 3rem;
            font-size: 2rem;
            border-radius: 100rem;
            overflow: hidden;

            &>b {
                font-size: 1rem;
                opacity: 0;
                color: transparent;
                height: 0;
            }

            &:hover {
                color: var(--onPrimary);
                background-color: var(--primary);
                font-size: 1.5rem;

                &>b {
                    opacity: 1;
                    color: var(--onPrimary);
                    height: 1rem;
                }
            }
        }
    }

    &>.operations {
        display: flex;
        gap: .25rem;
    }

    & .toggle {
        display: none;
    }

    &>.toggle {
        padding: 0px;
        height: var(--Height);
        width: var(--Height);
        margin-left: auto;
        display: none;
        border: none;
        color: var(--Cdisplay);
    }

    &>.operation-container {
        position: absolute;
        height: 100%;
        top: calc(100% + 1rem);
        right: 1rem;

        &>* {
            padding: $card-padding;
            border-radius: $card-corner;
            box-shadow: $card-shadow;
            background-color: var(--surface);
            color: var(--onSurface);
        }
    }

    body.focus & {
        &>.operation-container {
            top: -100%;
        }
    }
}

@media(max-width:768px) {
    #globalHeader {
        width: 100vw;
        margin: 0;

        &::before {
            inset: 0;
        }

        & .operations {
            margin-left: auto;
        }

        & .links {
            position: absolute;
            right: 1rem;
            top: 90%;
            height: fit-content;
            opacity: 0;
            pointer-events: none;
            transition: top .125s ease-in-out, opacity .125s ease-in-out;
            z-index: 100;
            border-radius: $card-corner;
            background-color: var(--surface);
            color: var(--onSurface);
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding: 1rem;

            & a {
                color: var(--onSurface);
                min-width: min(8rem, 50vw);
                padding: .25rem;
                height: 4.5rem;
                font-size: 3rem;
                line-height: 3rem;
                border-radius: 100vmax;
                overflow: hidden;
                text-align: center;
                flex-direction: row;

                &>svg {
                    font-size: 2rem;
                    margin-right: .5rem;
                }

                &>b {
                    color: inherit;
                    opacity: 1;
                    height: fit-content;

                }

                &:hover>b {
                    height: fit-content;
                }
            }
        }


        & .toggle {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.collapsed>.links {
            top: calc(100% + 1rem);
            opacity: 1;
            pointer-events: initial;
        }
    }
}

#headerButtonSearch,
#headerButtonToggle {
    font-size: 1.5rem;
    background-color: var(--primaryContainer);
    color: var(--onPrimaryContainer);
    transition: background-color .125s ease-in-out, color .125s ease-in-out;
    border-radius: 100vmax;
    width: 3rem;
    height: 3rem;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
        background-color: var(--primary);
        color: var(--onPrimary);
    }
}

#headerComponentSearch {
    transition: opacity .125s ease-in-out, top .125s ease-in-out;
    position: relative;
    top: 0rem;
    opacity: 1;
    width: min(27rem, calc(100vw - 2rem));
    box-sizing: border-box;

    &:not(.on) {
        top: -1rem;
        pointer-events: none;
        opacity: 0;
    }

    &>.queryContainer {
        padding: .25rem;
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        gap: .5rem;

        &>input {
            box-shadow: $card-shadow;
            background-color: var(--surfaceVariant);
            color: var(--onSurfaceVariant);
            border-radius: 100vmax;
            display: inline-block;
            padding: .5rem;
            box-sizing: border-box;
            border: 1px solid transparent;
            font-size: 1.35rem;
            height: 3rem;
            width: 100%;

            &:focus {
                border: 1px solid var(--outline);
            }
        }

        &>button {
            box-shadow: $card-shadow;
            background-color: var(--surfaceVariant);
            color: var(--onSurfaceVariant);
            border-radius: $card-corner-75;
            border: none;
            padding: .5rem;
            font-size: 1.5rem;
            box-sizing: border-box;
            display: inline-block;
            transition: background-color .125s ease-in-out, color .125s ease-in-out;

            &:hover {
                background-color: var(--onPrimary);
                color: var(--primary);
            }
        }

        &>.search {
            background-color: var(--primary);
            color: var(--onPrimary);
        }
    }

    &>.resultContainer {
        &:not(:empty) {
            margin-top: .75rem;
        }

        max-height: 65vh;
        overflow: auto;

        &>a {
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: calc($card-padding / 4) $card-padding;
            border-radius: 100vmax;
            color: var(--onSurface);
            background-color: var(--surface);
            transition: background-color .125s ease-in-out, color .125s ease-in-out;

            &:hover {
                background-color: var(--onPrimary);
                color: var(--primary);
            }

            &>b {
                display: block;
                font-size: 1.5rem;
            }

            &>span {
                margin-inline: .5rem;
            }

            &>b,
            &>span {
                text-overflow: ellipsis;
                overflow: hidden;
                text-wrap: nowrap;
            }

            &:not(:last-child) {
                margin-bottom: $card-gap;
            }
        }
    }
}

body.anim-ready #globalHeader>.links {
    & a {
        transition: color .25s ease-in-out, background-color .25s ease-in-out, font-size .25s ease-in-out;

        &>b {
            transition: height .25s ease-in-out, opacity .25s ease-in-out;
        }
    }
}