@use "./_declaration.scss" as *;

.side.user-intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    & a {
        text-decoration: none;
    }

    & .avatar {
        width: 15.5rem;
        height: 15.5rem;
        object-fit: cover;
        object-position: center;
        border-radius: $card-corner-75;
    }


    .socialLinks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1rem 1rem 0;
        gap: 1rem;

        & .link {
            font-size: 1.5rem;
            border-radius: 100vmax;
            color: var(--onSurface);
            background-color: var(--surface);
            transition: background-color .125s ease-in-out, color .125s ease-in-out;
            box-sizing: border-box;
            display: flex;
            height: 3rem;
            width: 3rem;
            align-items: center;
            justify-content: center;

            & svg {
                height: 1.5rem;
            }

            &:hover {
                background-color: var(--surfaceVariant);
                color: var(--onSurfaceVariant);
            }
        }
    }

    .intro {
        border: 1px solid var(--outline);
        border-radius: 1rem;
        padding: .5rem;
        text-align: center;
    }
}

.side.user-intro .userName {
    line-height: 1.25;
    position: relative;
    display: block;
    text-align: center;
    margin: .75rem;
    margin-bottom: 2rem;
    cursor: pointer;
    width: fit-content;

    & a {
        transition: color .125s ease-in-out, background-color .125s ease-in-out;
        color: var(--onSurface);
        background-color: var(--surface);
        display: block;
        padding: .125rem 1rem;
        border-radius: 100vmax;
        line-height: 1.75rem;
    }

    &::after {
        content: '';
        position: absolute;
        top: calc(100% + .5rem);
        height: .25rem;
        left: calc(50% - .5rem);
        width: 1rem;
        background-color: var(--primary);
        border-radius: $card-corner-circle;
        pointer-events: none;
        transition-property: left, width;
        transition-duration: .25s;
        transition-timing-function: ease-in-out;
    }

    &:hover {
        & a {
            color: var(--onPrimary);
            background-color: var(--primary);
        }

        &::after {
            left: calc(50% - 1rem);
            width: 2rem;

        }
    }
}

@media (max-width: 1024px) {
    .side.user-intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: .5rem;
        padding: .5rem;

        &>img.avatar {
            grid-column: 1/2;
            grid-row: 1/2;
            width: auto;
            height: auto;
            border-radius: 2rem;
        }

        &>.userName {
            grid-column: 2/3;
            grid-row: 1/2;
        }

        &>.intro {
            margin: 0;
            grid-column: 1/3;
            grid-row: 2/3;
        }

        &>.socialLinks {
            margin: 0;
            grid-column: 1/3;
            grid-row: 3/4;
        }
    }
}

$line-height: 1.5rem;

#markdown_TOC {
    max-height: 80vh;
    overflow: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    counter-reset: toc_counter_h2;
    color: var(--onBackground);
    line-height: #{$line-height};
    font-size: 1rem;
    opacity: 1;
    transition: $t-opacity, max-height .35s ease-in-out, padding .35s ease-in-out;
}

#markdown_TOC>* {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    display: flex;
    border-radius: 1rem;
    transition: $t-background-color, $t-color;
}

#markdown_TOC .li-2 {
    height: #{$line-height};
    margin: .25rem 0;
    padding: .5rem;
}

#markdown_TOC .li-2::before {
    counter-increment: toc_counter_h2;
    content: counter(toc_counter_h2);
    display: inline-block;
    width: #{$line-height};
    height: #{$line-height};
    line-height: #{$line-height};
    font-size: .875rem;
    margin-right: .5rem;
    border-radius: 100vmax;
    background-color: var(--surfaceVariant);
    color: var(--onSurfaceVariant);
    text-align: center;
    font-family: "Hack", "monospace", monospace;
}

@each $level in (3, 4, 5, 6) {
    #markdown_TOC .li-#{$level} {
        line-height: #{$line-height};
        height: 1.5rem;
        margin: .25rem 0;
        padding: .25rem;
        padding-left: calc(sqrt($level) * .25rem + .25rem);
    }

    #markdown_TOC .li-#{$level}::before {
        content: '';
        display: inline-block;
        height: #{$line-height};
        width: #{$line-height};
        box-sizing: border-box;
        border-radius: $card-corner-circle;
        background-image: radial-gradient(50% 50%, var(--surfaceVariant) 30%, transparent 35%);
    }
}

#markdown_TOC>*.active {
    color: var(--primary);
}

#markdown_TOC>*:hover {
    background-color: var(--surfaceVariant);
    color: var(--onSurfaceVariant);
}

#markdown_TOC:empty {
    display: none !important;
}